<li> 
  <span class="content">
    <%= image_tag(photo.image.url(:medium), :alt =>"Can't fetch photo") %>   
  </span>

  <span class="timestamp">  
    <p>Uploaded <%=time_ago_in_words(photo.created_at) %> ago.</p>
  </span>
  <p>
    <%= link_to "Delete", photo_delete_path(:id => photo.id, :user => photo.user_id), method: :delete, data: { confirm: "You sure?" }, class: "btn btn-small btn-primary" if current_user?(photo.user) || current_user.admin? %> 

    <% exif = EXIFR::JPEG.new(photo.image.path).gps %> 
    <%= link_to "Locate", photo_map_path(:id => photo.id, :user => photo.user_id), remote: true, class: "btn btn-small btn-primary" if exif.present? %>
    
  </p>  
  <br/><br/>
</li>